<!DOCTYPE html>
<html lang="en">
<head>
    <title>Página de Ejemplo</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/movies/css/output.css" rel="stylesheet">
    <script src="https://unpkg.com/htmx.org@1.9.12" integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
    <script>
        document.addEventListener('htmx:configRequest', (event) => {
            event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
        });
    </script>
</head>
<body class="bg-gray-100 dark:bg-gray-900 text-gray-900 dark:text-gray-100">
    <header class="h-16 w-full bg-blue-600 text-white flex items-center justify-between px-6">
        <h1 class="font-bold text-2xl">My Movies</h1>
        <div>
            {% if user.is_authenticated %}
                <span class="mr-4">Bienvenido!, {{ user.username }}</span>
                <form method="POST" action="{% url 'logout' %}" class="inline">
                    {% csrf_token %}
                    <button type="submit" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">Cerrar Sesión</button>
                </form>
            {% else %}
                <a href="{% url 'admin:login' %}" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">Iniciar Sesión</a>
            {% endif %}
        </div>
    </header>
    <main class="container mx-auto p-4">
        {% block article %}{% endblock %}
    </main>
    <footer class="w-full bg-gray-800 text-white py-4 text-center">
        <p>Proyecto de ejemplo de la materia Programación Web</p>
        <p><a href="https://github.com/cesarinmoca/MyMovies" class="underline">GitHub Repository</a></p>
    </footer>
</body>
</html>
